.c-hero {
  width: 100%;
  height: 100vh;

  background-image: url("/images/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;

  @include media-up(md) {
    height: calc(100vh - 114.5px);
    background-position: center;
  }
}
