.c-title {
  width: 100%;
  max-width: 1030px;
  font-size: rem($font-title-mobile);
  font-weight: bold;
  line-height: rem($line-height-title-mobile);

  @include media-up(md) {
    font-size: rem($font-title);
    line-height: rem($line-height-title);
  }

  &--display {
    font-size: rem($font-display-mobile);
    line-height: rem($line-height-display-mobile);

    @include media-up(md) {
      font-size: rem($font-display);
      line-height: rem($line-height-display);
    }
  }

  &__pretitle {
    font-size: rem($font-pretitle-mobile);
    line-height: rem($line-height-pretitle-mobile);
    font-weight: 300;
    letter-spacing: 3.6px;
    color: var(--gray-700);

    @include media-up(md) {
      font-size: rem($font-pretitle);
      line-height: rem($line-height-pretitle);
    }
  }

  &__subtitle {
    color: var(--gray-700);
    font-size: rem($font-subtitle-mobile);
    font-weight: normal;
    line-height: rem($line-height-subtitle-mobile);
    padding-top: rem(24px);
    padding-bottom: rem(24px);

    @include media-up(md) {
      font-size: rem($font-subtitle);
      line-height: rem($line-height-subtitle);
    }
  }
}
