---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import BenefitBar from "../components/BenefitBar.astro";
import Section from "../components/Section.astro";
import Benefit from "../components/Benefit.astro";
---

<Layout title="Ebook - Manual do Guarda Roupa Versátil">
  <Hero />
  <BenefitBar />
  <Section className="l-section--benefits">
    <div class="l-section__wrapper">
      <h2 class="c-title">Seu guarda roupa não será mais o mesmo</h2>

      <p class="c-text">
        Acredito que você já tenha pensado que precisa de muito dinheiro e
        seguir todas as tendências de moda para se vestir bem, e é exatamente o
        contrário.
      </p>

      <p class="c-text">
        Roupas atemporais e versáteis, são aquelas que você pode usar em
        qualquer época do ano, independente da <strong>TENDÊNCIA</strong> que
        surgir.
      </p>
      <p class="c-text">
        Além disso, você pode adaptar e valorizar mais seu estilo, acrescentando
        acessórios, calçados, cores, criando versatilidade no seu guarda roupa.
      </p>
      <p class="c-text">
        E foi pensando nesses pontos que desenvolvi esse material.
      </p>

      <h3 class="u-h3">
        Abaixo, um pouco do que você terá ao adquirir o MANUAL DO GUARDA ROUPA
        VERSÁTIL:
      </h3>
    </div>

    <div class="l-section__wrapper">
      <img
        class="c-image"
        src="/images/ebook-manual-do-guarda-roupa-versatil.jpg"
        alt="Ebook Manual do guarda roupa versátil"
        title="Capa do ebook Manual do guarda roupa versátil"
      />
    </div>
  </Section>

  <Benefit
    pathImage="/images/direcionamentos-essenciais-para-descobrir-seu-estilo.jpg"
    altText="Direcionamentos essenciais para descobrir e entender seu estilo"
    bgClass="c-benefit--bg-primary"
  >
    <div class="c-benefit__text-content">
      <div class="c-tag">
        <div class="c-tag__icon">
          <svg
            width="23"
            height="3"
            viewBox="0 0 23 3"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="0.987183"
              y="0.00488281"
              width="22"
              height="2"
              rx="1"
              fill="#887360"></rect>
          </svg>
        </div>
        <div class="c-tag__text">Valorizar sua imagem</div>
      </div>

      <h2 class="c-title">
        Direcionamentos essenciais para descobrir e entender seu estilo
      </h2>

      <p class="c-text">
        Você vai ter acesso a METODOLOGIA que utilizo na minha Consultoria de
        Estilo e através dela reconhecer cores, modelagens, formas e outras
        coisas que representam seu estilo pessoal.
      </p>

      <p class="c-text">
        Conhecendo o que você gosta é muito mais fácil saber quais roupas usar.
      </p>
    </div>
  </Benefit>

  <Benefit
    pathImage="/images/gastar-menos-com-roupas.jpg"
    altText="Gastar menos com roupas e saber o que você realmente precisa ter no seu armário"
    bgClass="c-benefit--bg-secondary"
    reverseImage
  >
    <div class="c-benefit__text-content">
      <div class="c-tag">
        <div class="c-tag__icon">
          <svg
            width="23"
            height="3"
            viewBox="0 0 23 3"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="0.987183"
              y="0.00488281"
              width="22"
              height="2"
              rx="1"
              fill="#887360"></rect>
          </svg>
        </div>
        <div class="c-tag__text">Comprar de maneira inteligente</div>
      </div>

      <h2 class="c-title">
        Gastar menos com roupas e saber o que você realmente precisa ter no seu
        armário
      </h2>

      <p class="c-text">
        No Manual você terá um passo a passo de como fazer um detox no seu
        guarda roupa, através dessa organização será possível ver quais peças
        precisa comprar ou não.
      </p>

      <p class="c-text">
        E para complementar um capítulo sobre compra inteligente, para você
        aprender avaliar melhor as roupas que escolhe e como criar no mínimo 3
        combinações com uma peça nova.
      </p>
    </div>
  </Benefit>

  <Benefit
    pathImage="/images/combinacoes-e-looks.jpg"
    altText="Exemplos práticos para criar diversas combinações, e looks montados"
    bgClass="c-benefit--bg-primary"
  >
    <div class="c-benefit__text-content">
      <div class="c-tag">
        <div class="c-tag__icon">
          <svg
            width="23"
            height="3"
            viewBox="0 0 23 3"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="0.987183"
              y="0.00488281"
              width="22"
              height="2"
              rx="1"
              fill="#887360"></rect>
          </svg>
        </div>
        <div class="c-tag__text">Referências para montar seus looks</div>
      </div>
      <h2 class="c-title">
        Exemplos práticos para criar diversas combinações, com referências de
        imagens e looks montados
      </h2>

      <p class="c-text">
        Repetir roupa não significa repetir look, e você pode usar uma peça de
        diversas formas mudando apenas os acessórios e o calçado.
      </p>

      <p class="c-text">
        Você ganha uma guarda roupa versátil, e vai se vestir bem em diversas
        ocasiões, e o melhor: VALORIZANDO seu estilo pessoal.
      </p>
    </div>
  </Benefit>
</Layout>
