<div class="c-benefit-bar">
  <div class="c-container">
    <ul class="c-benefit-bar__list">
      <li class="c-benefit-bar__item">Acesso Imediato</li>
      <li class="c-benefit-bar__item">
        <svg
          width="23"
          height="26"
          viewBox="0 0 23 26"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M21.25 14.6406C17.625 14.4531 14.7812 14.3516 12.7188 14.3359C12.4375 16.3984 12.0625 19.6562 11.5938 24.1094C11.5938 24.3125 11.3438 24.5938 10.8438 24.9531C10.3594 25.2969 9.92188 25.4688 9.53125 25.4688H7.84375C8.84375 19.125 9.41406 15.4141 9.55469 14.3359C7.52344 14.3984 4.45312 14.6172 0.34375 14.9922V13.3047C0.34375 12.9141 0.515625 12.4766 0.859375 11.9922C1.21875 11.5078 1.5 11.2578 1.70312 11.2422C4.92188 11.4141 7.66406 11.5234 9.92969 11.5703C10.0547 10.5859 10.4141 7.46875 11.0078 2.21875C11.0078 2.01562 11.25 1.74219 11.7344 1.39844C12.2344 1.03906 12.6797 0.859375 13.0703 0.859375H14.7578C14.1172 4.8125 13.5625 8.38281 13.0938 11.5703C14.8906 11.5234 18.0625 11.2969 22.6094 10.8906V12.5781C22.6094 12.9688 22.4297 13.4141 22.0703 13.9141C21.7266 14.3984 21.4531 14.6406 21.25 14.6406Z"
            fill="#F5DEB3"></path>
        </svg>
      </li>
      <li class="c-benefit-bar__item">Garantia de 7 dias</li>
      <li class="c-benefit-bar__item">
        <svg
          width="23"
          height="26"
          viewBox="0 0 23 26"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M21.25 14.6406C17.625 14.4531 14.7812 14.3516 12.7188 14.3359C12.4375 16.3984 12.0625 19.6562 11.5938 24.1094C11.5938 24.3125 11.3438 24.5938 10.8438 24.9531C10.3594 25.2969 9.92188 25.4688 9.53125 25.4688H7.84375C8.84375 19.125 9.41406 15.4141 9.55469 14.3359C7.52344 14.3984 4.45312 14.6172 0.34375 14.9922V13.3047C0.34375 12.9141 0.515625 12.4766 0.859375 11.9922C1.21875 11.5078 1.5 11.2578 1.70312 11.2422C4.92188 11.4141 7.66406 11.5234 9.92969 11.5703C10.0547 10.5859 10.4141 7.46875 11.0078 2.21875C11.0078 2.01562 11.25 1.74219 11.7344 1.39844C12.2344 1.03906 12.6797 0.859375 13.0703 0.859375H14.7578C14.1172 4.8125 13.5625 8.38281 13.0938 11.5703C14.8906 11.5234 18.0625 11.2969 22.6094 10.8906V12.5781C22.6094 12.9688 22.4297 13.4141 22.0703 13.9141C21.7266 14.3984 21.4531 14.6406 21.25 14.6406Z"
            fill="#F5DEB3"></path>
        </svg>
      </li>
      <li class="c-benefit-bar__item">Material de Apoio</li>
    </ul>
  </div>
</div>
