<header class="l-header">
  <section class="c-hero">
    <div class="c-container">
      <small class="c-title__pretitle">Manual do guarda roupa versátil</small>
      <h1 class="c-title">
        O guia completo que vai te ensinar como se vestir bem de maneira pratica
        e elegante
      </h1>

      <p class="c-title__subtitle">
        Acesse meu método de consultoria e descubra o segredo para
        <strong>valorizar seu estilo</strong> através de peças essenciais no
        guarda roupa feminino
      </p>

      <a href="#" class="c-button">Quero valorizar meu estilo</a>
    </div>
  </section>
</header>
