.l-section {
  & .c-container {
    @include flex-element(column, start, start);

    @include media-up(md) {
      @include flex-element(row, center, start);
    }
  }

  &__wrapper {
    width: 100%;
    flex: 1;
  }

  & .c-title {
    margin-bottom: rem(24px);
  }

  & .c-text {
    font-size: rem(18px);
  }

  &--benefits {
    padding-top: rem(120px);
    padding-bottom: rem(120px);

    & .c-container {
      gap: rem(60px);

      @include media-up(md) {
        gap: rem(30px);
      }
    }

    & .l-section__wrapper + .l-section__wrapper {
      display: flex;
      justify-content: center;
    }

    & .u-h3 {
      margin-top: rem(24px);
    }

    & .c-image {
      max-width: rem(450px);

      @include border-radius(16px);
    }
  }

  &--conversion {
    padding-top: rem(120px);
    padding-bottom: rem(120px);
    position: relative;
    width: 100%;
    background-color: #fff;
    text-align: center;

    @include media-up(md) {
      height: 100vh;
    }

    & .c-container {
      @include flex-element(row, center, center);
    }

    & .c-text {
      font-size: rem(32px);
      line-height: rem(40px);
      color: var(--gray-800);

      & + .c-button {
        margin-top: rem(40px);
        display: inline-block;
      }
    }
  }

  &--about-me {
    & .c-container {
      @include flex-element(column, center, center);
      gap: rem(48px);

      @include media-up(md) {
        @include flex-element(row, center, start);
        gap: rem(24px);
      }
    }

    &__image {
      display: flex;
      justify-content: center;
      flex: 100%;
      max-width: 100%;

      @include media-up(md) {
        max-width: 41.666667%; // 5 cols
      }

      > img {
        display: flex;
        width: 100%;
        max-width: rem(340px);
      }
    }

    &__content {
      flex: 100%;
      max-width: 100%;

      @include media-up(md) {
        max-width: 58.333333%; // 7 cols
      }
    }
  }

  &--faq {
    padding-top: rem(120px);
    padding-bottom: rem(120px);

    background-color: var(--coral);

    & .c-container {
      @include flex-element(column, flex-start, center);

      // @include media-up(md) {
      //   @include flex-element(row, center, start);
      // }
    }
  }
}
