*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --green-600: #6a5643;
  --green-500: #887360;
  --green-200: #938777;
  --green-100: #aaa296;

  --coral: #f8ebd2;

  --gray-800: #0d1525;
  --gray-700: #323334;
  --gray-500: #706c6c;
  --gray-100: #d6d4d4;

  --white: #ffffff;
}

html,
body {
  font-family: "Lato", sans-serif;

  p {
    color: var(--gray-500);
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  img {
    display: block;
    width: 100%;
  }

  button {
    cursor: pointer;
  }
}

// Utils
.u-h3 {
  font-size: $font-h3;
  line-height: $line-height-font-h3;
}
